@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');

.header li{border-bottom: 2px solid #364B41;margin-left: 2px;text-align: right;}
.hup{margin-bottom: 1px;border-bottom-color: #EEE;}
.hdown{margin-top: 2px; border-top-color: #EEE;}
.b-right {border-right: 2px solid #EEE;padding-right: 20px;}
#content{min-height: 600px;}

.signup_form h2{margin-left: 400px; width: 300px;font-family: sans-serif;text-transform: capitalize;text-align: center;}
#feedback{background-color: #e9e9e9;-moz-border-radius:4px; -webkit-border-radius:4px;width: 270px; text-align: center;text-transform: capitalize;}
#signup_form, fieldset{width: 300px;margin: auto;margin-bottom: 2em;display: block; border:none;}
.signup_form input[type=submit]{background: #348075;-moz-border-radius:4px;-webkit-border-radius:4px;}

#login_form,#contact_form{
	width: 300px;
	margin-bottom: 2em;
	display: block;
	border:none;
	overflow: hidden;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#myform{width: 400px;margin: auto;margin-bottom: 2em;display: block; border:none; overflow: hidden;}

#login_form #signup_anchor{margin-left:9px;}
#login_form #pass_recover_anchor{margin: 5px;}
.error{margin: 5px;font-style: italic;font-weight: bold; width:300px;color: red; display: inline; -moz-border-radius:4px;-webkit-border-radius:4px;}
.success-message{margin: 5px;font-style: italic;font-weight: bold; width:300px;color: green; display: inline; -moz-border-radius:4px;-webkit-border-radius:4px;}
#errorstring{margin-left: 400px; text-align: center;}
#left_part{float: left;margin-right: 100px;overflow: hidden;}
#right_part{margin-left: 100px; }
#message{
    background-color:#708090;
    height:100%;
    z-index:200;
    position:fixed;
    top:0;
    left:0;
    float:left;
    width:100%; 
}
#popup{margin: 200px;padding: 30px;background-color:#eee;-moz-border-radius:12px;-webkit-border-radius:12px;}
#message h1 {margin: 200px;}
label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
.heading{
    font-size: 24px;
}
.credits{
    font-size: 18px;
    color:green;
}
#a {
    color: #F00;
}
